<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>
      <video controls src="assets/LenovoYogaWifi.mp4" poster="assets/wifi.png" width="90%"></video>
  </p>
  <p>
      <video controls src="assets/atlas.mp4" poster="assets/wifi.png" width="90%"></video>
  </p>
  <p>
      <video controls src="assets/2400G.mp4" poster="assets/wifi.png" width="90%"></video>
  </p>
  <p>
      <video controls src="assets/AndroidAPI2018.mp4" poster="assets/wifi.png" width="90%"></video>
  </p>
  <img data-aria-label-part="" src="https://pbs.twimg.com/media/DdBG8ynX4AEn0j_.jpg" alt="This is a screenshot of a settings screen on Twitter.com where you can opt in to composing image descriptions for images. This adds the ability to describe images for the visually impaired. OK let me see how much text it will allow me to add to this field. The following are names of fruits: apple, banana, cherry, date, elderberry, fig, grape, honeydew, imbe, jackfruit, kiwi, lime, mango, nectarine, orange, papaya, .." style="width: 100%; top: -0px;">
</div>
